HOST=localhost
PORT=5000

ENV_MODE=development

DB_URI=mongodb://db-app1:27017,db-app2:27018,db-app3:27019/api?replicaSet=rs0
DB_NAME=mern
DB_HOST=localhost
DB_PORT=27017
DB_USERNAME=dbusername
DB_PASSWORD=dbpassword


PASSWORD_KEY=password-key
ACCESS_TOKEN_KEY=access-token-key
REFRESH_TOKEN_KEY=refresh-token-key